# --- Visual Studio ---
.vs/
.vsconfig
*.VC.db
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates

# --- Compiled files ---
*.pdb
*.obj
*.pch

# --- Build folders ---
Binaries/
DerivedDataCache/
Intermediate/
Saved/
ShaderDebugInfo/

# --- Unreal-specific temp files ---
*.log
*.tmp